*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-size: 25px;
  background-color: bisque;
}

.myOutput {
  color: green;
  margin: 0 9rem;
}

.myText {
  background-color: whitesmoke;
  height: 5rem;
  width: 45rem;
  padding: 1rem 5rem;
  margin: 2.5rem 0;
  border-radius: 25px;
}

.myInput {
  width: 100%;
  padding: 1rem;
}

.inputBox {
  width: 50%;
  padding: 1rem;
  border-radius: 15px;
  margin: 0 16rem;
}

.inputBox:focus {
  font-size: 35px;
  border: 0.5 solid grey;

}

.myInput:focus {
  border: 1px solid plum;
}
